*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 235, 216);
}
body::-webkit-scrollbar {
    width: 10px;          
  }
  
  body::-webkit-scrollbar-track {
    background: #212121;      
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #C70039;
    border-radius: 20px;     
    border: 3px solid #C70039;  
  }

.carga{
    font-family: 'Cinzel Decorative', cursive;
    animation-name: carga;
    animation-iteration-count: infinite;
    animation-timing-function: 1s;
    animation-duration: 5s;
}
    .cargaInicial{
        color: #C70039;
        font-weight: 600;
    }

        @keyframes carga{
            0%{
                font-size: 30px;
                opacity: 0;
            }
        
            50%{
                font-size: 40px;
                opacity: 1;
            }
        
            100%{
                font-size: 50px;
            }
        }

.contObras{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.inicialObras{
    color: #C70039;
    font-weight: 600;
}
    .h2Obras{
        margin-top: 40px;
        border-bottom: #C70039 solid 2px;
        font-family: 'Cinzel Decorative', cursive;
    }

.contEstilos{
    display: flex;
    justify-content: left;
}   
    .estilos{
        border-bottom: solid 2px #C70039;
        margin: 25px;
        font-family: 'Cinzel Decorative', cursive;
    }


    .hola{
        background-color: #C70039;
        height: 100px;
    }