.sumar{
    background-color: #C70039;
    color: white;
}
.sumar:hover{
    color: white;
}
.restar{
    background-color: gray;
}

.cant{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    padding: 10px;

}


.agregar{

    padding: 5px;
    border:  #C70039 solid 1px;
    transition: all 0.3s;
    border-radius: 5px;
    margin-left: 30px;
}
    .agregar:hover{
        background-color: #C70039;
        border: solid #C70039 2px;
        color: white;
    }